<!doctype html>

<html lang="es">
<head>
    <meta charset="utf-8">
    <!--Simbolo de Busqueda-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--CSS-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}"/>
    <!--Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap" rel="stylesheet">
  
    <title>Roupa</title>
    <link rel="icon" src="{{ url_for('static',filename='images/dress.png') }}">
  
</head>

<body>
    <div class="container-fluid">
        <div class="col-md-12 small">
            <div class="row">
                <div class="column centrar">
                    <p class="fontLora fontsize">
                        Roupa 
                        <img src="{{ url_for('static',filename='images/dress.png') }}" width="128" height="128"> 
                    </p> 
                </div>
            </div>
            <form action="http://127.0.0.1:5000/search.html" method = "post">
                <div class="row centrar">
                    <div class="searchBox">
                        <input class="searchInput"type="text" name="ropa" placeholder="Busqueda">
                        
                        <a class="searchButton" href="search.html">
                            <i class="material-icons">
                                search
                            </i>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
