.fontNewRoman{
    font-family: "Times New Roman", Times, serif;
}
.centrar{
    text-align: center;
}
.izq{
    float: left;
}
.der{
    text-align: right;
}
.fontsize{
    font-size: 100px;
}
.row {
    display: flex;
  }
  
.column {
    flex: 50%;
}
img {
    vertical-align:text-top;
  }

body {
    background-image: linear-gradient(to right , #FFB532 , #FDBF52);
}

.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background:#2f3640;
  color : white;
}

.searchButton {
    text-decoration: none;
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border:none;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}
  