.fontLora{
    font-family: 'Lora', serif;
    color: white;
}
.fontSizeNav{
    color: white;
    font-family: 'Lora', serif;
    font-weight: bold;
    cursor:pointer
}
.fontAside{
    font-family: 'Catamaran', sans-serif;
    color:white;
    cursor: pointer;
    text-indent: 27px;
    margin-bottom: 0px;
}
.bold{
    font-weight: bold;
}
.centrar{
    text-align: center;
}
.centrarHW{
    margin-top: auto;
    margin-bottom:auto;
}
.der{
    text-align: right;
}
.fontsize{
    font-size: 100px;
}
.row {
    display: flex;
}

ul li{
    list-style: none;
}
ul{
    padding-left: 0;
}

.column {
    flex: 50%;
}
img {
    vertical-align:text-top;
  }

body {
    background-image: linear-gradient(to right , #212121 ,#212121);
}

.btn {
    cursor: pointer;
    border: 1px solid #3498db;
    background-color: transparent;
    height: 50px;
    width: 200px;
    color: #3498db;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.navbar_custom{
    position: fixed; 
    top: 0;
    left: 0; 
    z-index: 9999; 
    width: 100%; 
    height: 50px; 
    padding: 10px;
    background-color: #212121;
}

.search-bar-pos{
    text-align: right;
    background-color: #212121;
    z-index: -1;
    margin-top: 4px;
}

.search-bar {
    height: 45px;
    border-radius: 10px;
    width: 95%;
    border: #212121;
    outline: 2px #212121;
}
.search-bar::placeholder {
    text-align: left;
    text-indent: 20px;
}
.search-bar[type=text]
{
    text-align: left;
    text-indent: 20px;
}
.searchBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,50%);
    background: white;
    height: 40px;
    border-radius: 40px;
    padding: 10px;

}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
    background:whitesmoke;
    color : #2f3640;
}

.searchButton {
    text-decoration: none;
    color: #212121;
    float: right;
    width: 40px;
    height: 40px;
    border:none;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: #212121;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

@media screen and (max-width: 620px) {
.searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
}
}

.logoimg{
    width: 120px;
    height: 30px;
    background: white;
}

.blockimg {
    width: 250px;
    height: 350px;
    padding: 5px;
}

.card {
    padding: 3px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background: transparent;
    border: 0px;
}


.containerMargin{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.sidebar{
    flex: 1 1 0;
    margin-top: 120px;
    padding: 2rem 1rem;
    float:left;
    width: 20%;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    height: 500px;
    border-radius: 40px;
}

.content {
    margin-top: 100px;
    width: 80%;
    height: 100%;
    flex: 1 1 0;
    padding: 2rem;
    float:right;
}

.dropdown_custom { 
    width: 110px;
}
.dropdown_custom > ul {
    display: none;
}
.dropdown_custom > p{
    font-size: 20px; 
    color: white;
}
.dropdown_custom:hover > ul {
    display: block;
    background: transparent;
    margin-left: 60px;
}
.dropdown_custom:hover > p {
    color: gray;;
}
.dropdown_custom:hover > ul > li {
    padding: 10px;
}
.ddropdown_customiv:hover > ul > li:hover {
    background: white;
}
.dropdown_custom:hover > ul > li:hover > a {
    color: white;
}

.margen{
    margin-top: 10px;
    margin-bottom: 5px;
}